IRI/WebContent/WEB-INF/wsdl/BusquedaNacionalIndicesServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns:impl="http://webservices.extranet.sunarp.pe.gob" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webservices.extranet.sunarp.pe.gob"/>
   <element name="busquedaPorTipoNumeroDocumentoResponse">
    <complexType>
     <sequence>
      <element name="busquedaPorTipoNumeroDocumentoReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaPorPersonaJuridica">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="razonSocial" nillable="true" type="xsd:string"/>
      <element name="siglas" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaPorPersonaJuridicaResponse">
    <complexType>
     <sequence>
      <element name="busquedaPorPersonaJuridicaReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorPersonaNatural">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="apellidoPaterno" nillable="true" type="xsd:string"/>
      <element name="apellidoMaterno" nillable="true" type="xsd:string"/>
      <element name="nombre" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorPersonaNaturalResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorPersonaNaturalReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaPorBien">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="numeroPlaca" nillable="true" type="xsd:string"/>
      <element name="numeroMatricula" nillable="true" type="xsd:string"/>
      <element name="nombre" nillable="true" type="xsd:string"/>
      <element name="numeroSerie" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaPorBienResponse">
    <complexType>
     <sequence>
      <element name="busquedaPorBienReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaPorTipoNumeroDocumento">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="codigoTipoDocumento" nillable="true" type="xsd:string"/>
      <element name="numeroDocumento" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_nillable_PartidaBean">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="PartidaBean" nillable="true" type="tns2:PartidaBean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.extranet.sunarp.pe.gob"/>
   <complexType name="ResultadoPartidaBean">
    <sequence>
     <element name="codigoError" nillable="true" type="xsd:string"/>
     <element name="fechaOperacion" nillable="true" type="xsd:string"/>
     <element name="montoPagado" nillable="true" type="xsd:string"/>
     <element name="partidaBeans" nillable="true" type="impl:ArrayOf_tns2_nillable_PartidaBean"/>
    </sequence>
   </complexType>
   <complexType name="PartidaBean">
    <sequence>
     <element name="descripcionAreaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionOficinaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionRegistro" nillable="true" type="xsd:string"/>
     <element name="descripcionZonaRegistral" nillable="true" type="xsd:string"/>
     <element name="numeroFicha" nillable="true" type="xsd:string"/>
     <element name="numeroFolio" nillable="true" type="xsd:string"/>
     <element name="numeroPartida" nillable="true" type="xsd:string"/>
     <element name="numeroTomo" nillable="true" type="xsd:string"/>
     <element name="documentoIdentidad" nillable="true" type="xsd:string"/>
     <element name="numeroDocumento" nillable="true" type="xsd:string"/>
     <element name="participante" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="busquedaPorBienResponse">
     <wsdl:part element="intf:busquedaPorBienResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorPersonaNaturalResponse">
     <wsdl:part element="intf:busquedaRmcPorPersonaNaturalResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaPorPersonaJuridicaRequest">
     <wsdl:part element="intf:busquedaPorPersonaJuridica" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaPorTipoNumeroDocumentoResponse">
     <wsdl:part element="intf:busquedaPorTipoNumeroDocumentoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaPorTipoNumeroDocumentoRequest">
     <wsdl:part element="intf:busquedaPorTipoNumeroDocumento" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaPorPersonaJuridicaResponse">
     <wsdl:part element="intf:busquedaPorPersonaJuridicaResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaPorBienRequest">
     <wsdl:part element="intf:busquedaPorBien" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorPersonaNaturalRequest">
     <wsdl:part element="intf:busquedaRmcPorPersonaNatural" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="BusquedaNacionalIndicesServiceProvider">
     <wsdl:operation name="busquedaPorTipoNumeroDocumento">
       <wsdl:input message="intf:busquedaPorTipoNumeroDocumentoRequest" name="busquedaPorTipoNumeroDocumentoRequest"/>

       <wsdl:output message="intf:busquedaPorTipoNumeroDocumentoResponse" name="busquedaPorTipoNumeroDocumentoResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaPorPersonaJuridica">
       <wsdl:input message="intf:busquedaPorPersonaJuridicaRequest" name="busquedaPorPersonaJuridicaRequest"/>

       <wsdl:output message="intf:busquedaPorPersonaJuridicaResponse" name="busquedaPorPersonaJuridicaResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorPersonaNatural">
       <wsdl:input message="intf:busquedaRmcPorPersonaNaturalRequest" name="busquedaRmcPorPersonaNaturalRequest"/>

       <wsdl:output message="intf:busquedaRmcPorPersonaNaturalResponse" name="busquedaRmcPorPersonaNaturalResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaPorBien">
       <wsdl:input message="intf:busquedaPorBienRequest" name="busquedaPorBienRequest"/>

       <wsdl:output message="intf:busquedaPorBienResponse" name="busquedaPorBienResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="BusquedaNacionalIndicesServiceProviderSoapBinding" type="intf:BusquedaNacionalIndicesServiceProvider">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="busquedaPorTipoNumeroDocumento">
       <wsdlsoap:operation soapAction="busquedaPorTipoNumeroDocumento"/>

       <wsdl:input name="busquedaPorTipoNumeroDocumentoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaPorTipoNumeroDocumentoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaPorPersonaJuridica">
       <wsdlsoap:operation soapAction="busquedaPorPersonaJuridica"/>

       <wsdl:input name="busquedaPorPersonaJuridicaRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaPorPersonaJuridicaResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorPersonaNatural">
       <wsdlsoap:operation soapAction="busquedaRmcPorPersonaNatural"/>

       <wsdl:input name="busquedaRmcPorPersonaNaturalRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorPersonaNaturalResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaPorBien">
       <wsdlsoap:operation soapAction="busquedaPorBien"/>

       <wsdl:input name="busquedaPorBienRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaPorBienResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="BusquedaNacionalIndicesServiceProviderService">
     <wsdl:port binding="intf:BusquedaNacionalIndicesServiceProviderSoapBinding" name="BusquedaNacionalIndicesServiceProvider">
       <wsdlsoap:address location="http://localhost:9080/iri/services/BusquedaNacionalIndicesServiceProvider"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
