IRI/WebContent/WEB-INF/wsdl/BusquedaIndicesServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns:impl="http://webservices.extranet.sunarp.pe.gob" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webservices.extranet.sunarp.pe.gob"/>
   <element name="busquedaRmcPorPersonaJuridicaResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorPersonaJuridicaReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorTipoNumeroDocumento">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="codigoTipoDocumento" nillable="true" type="xsd:string"/>
      <element name="numeroDocumento" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorTipoNumeroDocumentoResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorTipoNumeroDocumentoReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorPersonaNatural">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="apellidoPaterno" nillable="true" type="xsd:string"/>
      <element name="apellidoMaterno" nillable="true" type="xsd:string"/>
      <element name="nombre" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorPersonaNaturalResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorPersonaNaturalReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorPersonaJuridica">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="razonSocial" nillable="true" type="xsd:string"/>
      <element name="siglas" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_nillable_PartidaBean">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="PartidaBean" nillable="true" type="tns2:PartidaBean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.extranet.sunarp.pe.gob"/>
   <complexType name="ResultadoPartidaBean">
    <sequence>
     <element name="codigoError" nillable="true" type="xsd:string"/>
     <element name="fechaOperacion" nillable="true" type="xsd:string"/>
     <element name="montoPagado" nillable="true" type="xsd:string"/>
     <element name="partidaBeans" nillable="true" type="impl:ArrayOf_tns2_nillable_PartidaBean"/>
    </sequence>
   </complexType>
   <complexType name="PartidaBean">
    <sequence>
     <element name="descripcionAreaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionOficinaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionRegistro" nillable="true" type="xsd:string"/>
     <element name="descripcionZonaRegistral" nillable="true" type="xsd:string"/>
     <element name="numeroFicha" nillable="true" type="xsd:string"/>
     <element name="numeroFolio" nillable="true" type="xsd:string"/>
     <element name="numeroPartida" nillable="true" type="xsd:string"/>
     <element name="numeroTomo" nillable="true" type="xsd:string"/>
     <element name="documentoIdentidad" nillable="true" type="xsd:string"/>
     <element name="numeroDocumento" nillable="true" type="xsd:string"/>
     <element name="participante" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="busquedaRmcPorPersonaNaturalResponse">
     <wsdl:part element="intf:busquedaRmcPorPersonaNaturalResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorPersonaJuridicaRequest">
     <wsdl:part element="intf:busquedaRmcPorPersonaJuridica" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorTipoNumeroDocumentoRequest">
     <wsdl:part element="intf:busquedaRmcPorTipoNumeroDocumento" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorTipoNumeroDocumentoResponse">
     <wsdl:part element="intf:busquedaRmcPorTipoNumeroDocumentoResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorPersonaNaturalRequest">
     <wsdl:part element="intf:busquedaRmcPorPersonaNatural" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorPersonaJuridicaResponse">
     <wsdl:part element="intf:busquedaRmcPorPersonaJuridicaResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="BusquedaIndicesServiceProvider">
     <wsdl:operation name="busquedaRmcPorPersonaJuridica">
       <wsdl:input message="intf:busquedaRmcPorPersonaJuridicaRequest" name="busquedaRmcPorPersonaJuridicaRequest"/>

       <wsdl:output message="intf:busquedaRmcPorPersonaJuridicaResponse" name="busquedaRmcPorPersonaJuridicaResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorTipoNumeroDocumento">
       <wsdl:input message="intf:busquedaRmcPorTipoNumeroDocumentoRequest" name="busquedaRmcPorTipoNumeroDocumentoRequest"/>

       <wsdl:output message="intf:busquedaRmcPorTipoNumeroDocumentoResponse" name="busquedaRmcPorTipoNumeroDocumentoResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorPersonaNatural">
       <wsdl:input message="intf:busquedaRmcPorPersonaNaturalRequest" name="busquedaRmcPorPersonaNaturalRequest"/>

       <wsdl:output message="intf:busquedaRmcPorPersonaNaturalResponse" name="busquedaRmcPorPersonaNaturalResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="BusquedaIndicesServiceProviderSoapBinding" type="intf:BusquedaIndicesServiceProvider">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="busquedaRmcPorPersonaJuridica">
       <wsdlsoap:operation soapAction="busquedaRmcPorPersonaJuridica"/>

       <wsdl:input name="busquedaRmcPorPersonaJuridicaRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorPersonaJuridicaResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorTipoNumeroDocumento">
       <wsdlsoap:operation soapAction="busquedaRmcPorTipoNumeroDocumento"/>

       <wsdl:input name="busquedaRmcPorTipoNumeroDocumentoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorTipoNumeroDocumentoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorPersonaNatural">
       <wsdlsoap:operation soapAction="busquedaRmcPorPersonaNatural"/>

       <wsdl:input name="busquedaRmcPorPersonaNaturalRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorPersonaNaturalResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="BusquedaIndicesServiceProviderService">
     <wsdl:port binding="intf:BusquedaIndicesServiceProviderSoapBinding" name="BusquedaIndicesServiceProvider">
       <wsdlsoap:address location="http://localhost:9080/iri/services/BusquedaIndicesServiceProvider"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
