IRI/WebContent/WEB-INF/wsdl/BusquedaDirectaServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns:impl="http://webservices.extranet.sunarp.pe.gob" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://bean.webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.webservices.extranet.sunarp.pe.gob"/>
   <element name="busquedaRmcPorNumeroFichaResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorNumeroFichaReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorNumeroPartida">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="idRegistroPublico" nillable="true" type="xsd:string"/>
      <element name="idOficinaRegistral" nillable="true" type="xsd:string"/>
      <element name="numeroPartida" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorNumeroPartidaResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorNumeroPartidaReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorNumeroTomoFolio">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="idRegistroPublico" nillable="true" type="xsd:string"/>
      <element name="idOficinaRegistral" nillable="true" type="xsd:string"/>
      <element name="libro" nillable="true" type="xsd:string"/>
      <element name="numeroTomo" nillable="true" type="xsd:string"/>
      <element name="numeroFolio" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorNumeroTomoFolioResponse">
    <complexType>
     <sequence>
      <element name="busquedaRmcPorNumeroTomoFolioReturn" nillable="true" type="tns2:ResultadoPartidaBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaRmcPorNumeroFicha">
    <complexType>
     <sequence>
      <element name="usuario" nillable="true" type="xsd:string"/>
      <element name="clave" nillable="true" type="xsd:string"/>
      <element name="idRegistroPublico" nillable="true" type="xsd:string"/>
      <element name="idOficinaRegistral" nillable="true" type="xsd:string"/>
      <element name="numeroFicha" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_nillable_PartidaBean">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="PartidaBean" nillable="true" type="tns2:PartidaBean"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bean.webservices.extranet.sunarp.pe.gob" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://webservices.extranet.sunarp.pe.gob" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservices.extranet.sunarp.pe.gob"/>
   <complexType name="ResultadoPartidaBean">
    <sequence>
     <element name="codigoError" nillable="true" type="xsd:string"/>
     <element name="fechaOperacion" nillable="true" type="xsd:string"/>
     <element name="montoPagado" nillable="true" type="xsd:string"/>
     <element name="partidaBeans" nillable="true" type="impl:ArrayOf_tns2_nillable_PartidaBean"/>
    </sequence>
   </complexType>
   <complexType name="PartidaBean">
    <sequence>
     <element name="descripcionAreaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionOficinaRegistral" nillable="true" type="xsd:string"/>
     <element name="descripcionRegistro" nillable="true" type="xsd:string"/>
     <element name="descripcionZonaRegistral" nillable="true" type="xsd:string"/>
     <element name="numeroFicha" nillable="true" type="xsd:string"/>
     <element name="numeroFolio" nillable="true" type="xsd:string"/>
     <element name="numeroPartida" nillable="true" type="xsd:string"/>
     <element name="numeroTomo" nillable="true" type="xsd:string"/>
     <element name="documentoIdentidad" nillable="true" type="xsd:string"/>
     <element name="numeroDocumento" nillable="true" type="xsd:string"/>
     <element name="participante" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="busquedaRmcPorNumeroFichaResponse">
     <wsdl:part element="intf:busquedaRmcPorNumeroFichaResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorNumeroPartidaRequest">
     <wsdl:part element="intf:busquedaRmcPorNumeroPartida" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorNumeroPartidaResponse">
     <wsdl:part element="intf:busquedaRmcPorNumeroPartidaResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorNumeroFichaRequest">
     <wsdl:part element="intf:busquedaRmcPorNumeroFicha" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorNumeroTomoFolioResponse">
     <wsdl:part element="intf:busquedaRmcPorNumeroTomoFolioResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="busquedaRmcPorNumeroTomoFolioRequest">
     <wsdl:part element="intf:busquedaRmcPorNumeroTomoFolio" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="BusquedaDirectaServiceProvider">
     <wsdl:operation name="busquedaRmcPorNumeroFicha">
       <wsdl:input message="intf:busquedaRmcPorNumeroFichaRequest" name="busquedaRmcPorNumeroFichaRequest"/>

       <wsdl:output message="intf:busquedaRmcPorNumeroFichaResponse" name="busquedaRmcPorNumeroFichaResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorNumeroPartida">
       <wsdl:input message="intf:busquedaRmcPorNumeroPartidaRequest" name="busquedaRmcPorNumeroPartidaRequest"/>

       <wsdl:output message="intf:busquedaRmcPorNumeroPartidaResponse" name="busquedaRmcPorNumeroPartidaResponse"/>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorNumeroTomoFolio">
       <wsdl:input message="intf:busquedaRmcPorNumeroTomoFolioRequest" name="busquedaRmcPorNumeroTomoFolioRequest"/>

       <wsdl:output message="intf:busquedaRmcPorNumeroTomoFolioResponse" name="busquedaRmcPorNumeroTomoFolioResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="BusquedaDirectaServiceProviderSoapBinding" type="intf:BusquedaDirectaServiceProvider">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="busquedaRmcPorNumeroFicha">
       <wsdlsoap:operation soapAction="busquedaRmcPorNumeroFicha"/>

       <wsdl:input name="busquedaRmcPorNumeroFichaRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorNumeroFichaResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorNumeroPartida">
       <wsdlsoap:operation soapAction="busquedaRmcPorNumeroPartida"/>

       <wsdl:input name="busquedaRmcPorNumeroPartidaRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorNumeroPartidaResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="busquedaRmcPorNumeroTomoFolio">
       <wsdlsoap:operation soapAction="busquedaRmcPorNumeroTomoFolio"/>

       <wsdl:input name="busquedaRmcPorNumeroTomoFolioRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="busquedaRmcPorNumeroTomoFolioResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="BusquedaDirectaServiceProviderService">
     <wsdl:port binding="intf:BusquedaDirectaServiceProviderSoapBinding" name="BusquedaDirectaServiceProvider">
       <wsdlsoap:address location="http://localhost:9080/iri/services/BusquedaDirectaServiceProvider"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
